Tugas 4 Implememtasi Pemasaran.json
{
  "name": "Tugas 4 Implememtasi Pemasaran",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "afe27613-1e32-4b68-964a-511c7ac050b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// n8n sudah menyediakan library DateTime (Luxon) secara built-in\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  const dateStr = row['Scheduled Date']; // Contoh: \"11/02/2026\"\n  const timeStr = row['Scheduled Time']; // Contoh: \"09:30:00\"\n\n  // Ganti baris IF kamu menjadi seperti ini:\nif (dateStr && timeStr) {\n    \n    // PERBAIKAN SINTAKSIS: Menggunakan backtick (`) untuk menggabungkan string\n    const fullDateTimeStr = `${dateStr} ${timeStr}`;\n\n    // Gunakan fromFormat karena formatnya dd/MM/yyyy, bukan ISO (YYYY-MM-DD)\n    const scheduledTime = DateTime.fromFormat(fullDateTimeStr, \"dd/MM/yyyy H:mm:ss\", { zone: 'Asia/Jakarta' });\n\n    // Cek jika waktu valid dan sudah saatnya dikirim (jadwal <= waktu sekarang)\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3c426a91-039d-4dd4-a665-f9b15a70af0b",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Kh5CUf0KF1t7L-sV5hQbCFhmaIxEZ_YMReeI-ddjW1w",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kh5CUf0KF1t7L-sV5hQbCFhmaIxEZ_YMReeI-ddjW1w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1352056517,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kh5CUf0KF1t7L-sV5hQbCFhmaIxEZ_YMReeI-ddjW1w/edit#gid=1352056517"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "42260b5c-0dc7-422b-9d6e-76d2eb68b579",
      "name": "Ambil Data Posting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PhMMbatzwCEp38Wi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1316273145",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "c608cdc9-c8fc-4b9c-9339-30ab043a9dfb",
      "name": "Send a text message",
      "webhookId": "80fc25ee-9259-41e5-a417-63c9ec427719",
      "credentials": {
        "telegramApi": {
          "id": "ENjmGsgLbSUQUJdc",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea47aa63-830f-4836-ae0a-0eca08a5ac3d",
              "name": "row_number",
              "value": "={{ $('Code in JavaScript').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "7234a3c6-deb4-456f-934b-f6cc690fd996",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kNQNNDWbFhLK0rGKOgNIuwsrU74WnVnaQGdjQHBQtE8",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kNQNNDWbFhLK0rGKOgNIuwsrU74WnVnaQGdjQHBQtE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 60118123,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kNQNNDWbFhLK0rGKOgNIuwsrU74WnVnaQGdjQHBQtE8/edit#gid=60118123"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Code in JavaScript').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "25a86270-f2e9-44b6-93ec-db2a6e67dba9",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PhMMbatzwCEp38Wi",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ambil Data Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data Posting": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "22518242-83c0-4989-a20d-f8af83857774",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23bc17d3a8f2450db4061aae7cedb6eee4b388bbf856b2f3acc0b31218e332ac"
  },
  "id": "Rt8iNU2YwdbpVSQq",
  "tags": []
}